body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  background-image: url("header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  color: white;

  
}

.text{
  position: absolute;
  top:285px;
  left:650px;
  
}
.btn .btn-danger{
  position: absolute;
  top:590px;
  left:890px;
 
  
} 
.btn-danger:hover {
  background-color:blue;
  border-color:blue;
  border-width: 5px;
   cursor: pointer;
} 
